{% if session['type']=='brand' %}
{% extends 'dashboard_layout_new.html' %}
{% elif session['type'] == 'influencer'%}
{% extends 'dashboard_layout_inf.html' %}
{% endif %}
{{ super() }}
{% block body %}

<style>
    .title{
      font-size:14px;
      color:#11D2DA;

    }
.views{
    font-size:10px;
    color:grey;
}
.headers{
font-size:12px;
    color:#707070;
    font-weight:bold;
    text-align:center;
}
.image{
height:261px !important;
width:391px !important;

}
.icons{
color:#9E57DD;
}
</style>

<div class="container-fluid">
    <div class="row">
        {% for item in classified_details['data'] %}
        {% set images = item['files'].split(',') %}
        <div class="col-sm-12">
            <div class="card shadow-sm p-1">
                <div class="card-body bg-white">
                    <div class="row">
                        {% if session['type']=='brand' %}
                        <div class="col-sm text-left">
                            <a href="/viewAllClassifiedAds">Back</a>
                        </div>
                        {% else %}
                        <div class="col-sm text-left">

                        </div>
                        {% endif %}
                        <div class="col-sm text-center title">{{ item['classified_name'] }}</div>
                        <div class="col-sm text-right views"><i class="fa fa-eye"></i> {{item['no_of_views']}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm text-left"></div>
                        <div class="col-sm text-center"></div>
                        <div class="col-sm text-right views">Posted on : {{ item['posted_date'] }}</div>
                    </div>
                    <div class="row" style="margin-right:12px;">
                        <div class="col-sm">
                            <div class="container-gallery">
                                {% set files = item['files'].split(',') %}
                                {% for file in files %}
                                <img src="../static/campaign_files/{{ file }}" class="image ">
                                {% endfor %}

                            </div>
                        </div>
                        <!--<div class="col-sm"></div>-->
                        <div class="col-sm" style="padding:0px;">
                            <div class="row">
                                <div class="col-sm  title">
                                    {% if profile_data['data']['profile_pic'] %}
                            <img  src="/static/img/{{ profile_data['data']['profile_pic'] }}" class="rounded-circle img-border gradient-summer" alt="Card image" height="30px" width="30px">
                            {% else %}
                            <img src="/static/img/fixed_image.png" class="img-border gradient-summer " alt="Card image" width="30px" height="30px">
                            {% endif %}
                            {{ profile_data['data']['first_name'] }} {{ profile_data['data']['last_name'] }}

                                </div>
                                {% if session['type']=='brand' %}
                                <div class="col-sm float-right text-right">
                                    <a href="/editClassified/{{ item['classified_id'] }}" data-toggle="tooltip" title="Edit Classified"><img src="/static/icons/edit.png" height="19px" width="17px"></a>
                                    <a href="/deleteClassified/{{ item['classified_id'] }}" id="" data-toggle="tooltip" title=" Delete Classified"><img src="/static/icons/delete.png" height="19px" width="17px"></a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-sm border headers ">Channels<br>
                                    {% set channels = item['channels'].split(',') %}
                                    {% for channel in channels %}
                                    {% if channel == 'youtube' %}
                                    <a href="#" class="fa fa-youtube fa-lg icons"></a>
                                    {% elif channel == 'facebook' %}
                                    <a href="#" class="fa fa-facebook fa-lg icons"></a>
                                    {% elif channel == 'twitter' %}
                                    <a href="#" class="fa fa-twitter fa-lg icons"></a>
                                    {% elif channel == 'instagram' %}
                                    <a href="#" class="fa fa-instagram fa-lg icons"></a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-sm border headers">Followers<br>
                                    <span class="views">{{ item['min_lower_followers'] }} - {{ item['max_upper_followers'] }}</span>
                                </div>
                                <div class="col-sm  border headers">Budget<br>
                                    <span class="views">{{ item['budget'] }} {{ item['currency'] }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm  border headers">Categories<br>
                                    <span class="views">{{ item['video_cat_name'] }}</span>
                                </div>
                                <div class="col-sm border headers">Content Type<br>
                                    <span class="views">{{ item['arrangements'] }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm border headers">Description<br>
                                    <span class="views">{{ item['classified_description'] }}</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm  title"><br>
                            {{item['no_of_replies']}}
                        </div>
                        <div class="col-sm text-center"><br>
                            <!--<a href="/viewClassifiedDetails/{{ item['classified_id'] }}" class="btn btn-sm" style="background-color:#50A9E4; color:white; font-size:12px;">Details</a>-->
                        </div>

                    </div>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src='/static/app-assets/img-gallery/gallery.js'></script>
<script>
	document.querySelector(".bar").addEventListener("click", function() {
			var list = document.querySelector("#list");
			list.classList.toggle("visible");
		});
</script>
<script>

$('.container-gallery').gallery({
			height: '18vw',
			items: 4,
			thumbHeight: '5vw',
			showThumbnails: true,
			singleLine: true,
			0: {
				<!--height: 200,-->
				<!--width: '10vw',-->
				items: 4,
			},

});

</script>


{% endblock %}