{% extends 'dashboard_layout_inf.html' %}
{{ super() }}
{% block body %}

<!--Basic User Details Starts-->
<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% for item in data['data'] %}
                    <div class="row" style="margin:2%;">
                        <div class="col-xl-2 col-lg-2 col-md-2 mb-1">
                            {% if item['channel_img'] %}
                            <img id="profile_pic" src="{{ item['channel_img'] }}" class="img-border gradient-summer width-150" alt="Card image" height="150px" width="150px">
                            {% else %}
                            <img id="profile_pic" src="static/img/fixed_image.png" class="img-border gradient-summer width-150" alt="Card image">
                            {% endif %}
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                            <span class="font-medium-2 text-uppercase">{{ item['title'] }}</span>
                            <div class="grey font-small-3" style="font-size:20px;"></div>
                            <div class="grey font-small-3" style="font-size:20px;">Subscription Type : Basic</div>
                            <!--<button class="btn btn-sm" type="button" data-toggle="tooltip" title="Feature Coming Soon" style="background-color: #9E57DD; margin-left: 2%; color:white;font-size:15px;">Upgrade Here</button>-->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                            <p class="grey font-small-3" style="font-size:20px;">Accounts:</p>
                            {% if item['facebook_url'] %}
                            <a href="{{ item['facebook_url'] }}" target="_blank" class="fa fa-facebook " title="facebook" style="font-size: 40px;color:#3B5998 ;padding: 10px;"></a>
                            {% else %}
                            <a href="#" class="fa fa-facebook grey" title="facebook" style="font-size:40px; padding-right:10px;"></a>
                            {% endif %}
                            {% if item['twitter_url'] %}
                            <a href="{{ item['twitter_url'] }}" target="_blank" class="fa fa-twitter" title="twitter" style="font-size:40px; color:#55ACEE padding-right:10px;"></a>
                            {% else %}
                            <a href="#"  class="fa fa-twitter grey" title="twitter" style="font-size:40px; padding-right:10px;"></a>
                            {% endif %}
                            {% if item['insta_url'] %}
                            <a href="{{ item['insta_url'] }}" target="_blank" class="fa fa-instagram" title="instagram" style="color:#d6249f; font-size:40px; padding-right:10px;"></a>
                            {% else %}
                            <a href="#"  class="fa fa-instagram grey " title="instagram" style="font-size:40px; padding-right:10px;"></a>
                            {% endif %}
                            {% if item['youtube_url'] %}
                            <a href="{{ item['youtube_url'] }}" target="_blank" class="fa fa-youtube" title="youtube" style="color:#bb0000 ;font-size:40px;"></a>
                            {% else %}
                            <a href="#"  class="fa fa-youtube grey" title="youtube" style="font-size:40px;"></a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about">
    <form action="/updateProfile_inf" method="POST">
        <div class="row">
            {% for item in data['data'] %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">

                        <h5>Personal Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row" style="margin-left: 2%;">
                                <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="first_name">*First Name:</label>
                                            <input type="text" required class="form-control" id="first_name" name="first_name" value="{{ item['first_name']}}" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="last_name">*Last Name</label>
                                            <input type="text" required name="last_name" id="last_name" class="form-control" value="{{ item['last_name']}}" style="width:400px;"> </span>
                                    </div>

                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="videoCategories">Categories</label>
                                            <select class="form-control" name="categories" multiple>
                                                {% for item in videoCat['data'] %}

                                                <option id="{{item['video_cat_id']}}" value="{{ item['video_cat_id'] }}">{{ item['video_cat_name'] }}</option>
                                                {% endfor %}
                                            </select>
                                            <script>
                                                        $( document ).ready(function() {
                                                        {% set video_cat_ids = item['youtube_video_cat_id'].split(',') %}
                                                            {% for video_cat_id in video_cat_ids %}

                                                           $('#{{video_cat_id}}').attr("selected", "selected");
                                                             {% endfor %}
                                                        });
                                            </script>
                                        </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="city">City:</label>
                                            <input type="text"id="city" name="city" class="form-control" value="{{ item['city']}}" placeholder="City" style="width:400px;"> </span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                    <!--<div class="row" style="margin-bottom: 5px;">-->
                                    <!--<span class="display-block overflow-hidden">-->
                                    <!--<label for="email">*Business Email</label>-->
                                    <!--<input type="email" disabled class="form-control" id="email" value="{{item['business_email']}}" style="width:400px;"> </span>-->
                                    <!--</div>-->
                                    <div class="row" style="margin-bottom: 5px;">
                                        <a class="display-block overflow-hidden">
                                            <label for="phone">Phone</label>
                                            <input type="text" name="phone" id="phone" class="form-control" value="{{ item['phone'] }}" placeholder="Phone" style="width:400px;"> </a>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="website">Website</label>
                                            <input type="text" id="website" required name="website" class="form-control" value="{{ item['website']}}" placeholder="Website" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="country">*Country</label>
                                            <select class="form-control" name="country" id="country"  required>
                                                        {% for item in regionCodes['data'] %}
                                                        <option id="{{item['region_code']}}" value="{{ item['region_code'] }}">{{ item['country_name'] }}</option>
                                                        {% endfor %}
                                                     </select>
                                                    <script>
                                                        $( document ).ready(function() {
                                                           $('#{{item['country']}}').attr("selected", "selected");
                                                        });
                                                     </script>

                                            <!--<input type="text" id="country" required name="country" class="form-control" value="{{ item['country']}}" placeholder="Country" style="width:400px;"> -->
                                        </span>
                                    </div>
                                    <!--<div class="row" style="margin-bottom: 5px;">-->
                                    <!--<span class="display-block overflow-hidden">-->
                                    <!--<label for="password">*Password</label>-->
                                    <!--<input type="text" id="password" required name="password" class="form-control" value="" style="width:400px;"> </span>-->
                                    <!--</div>-->
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#change_pass_modal">Change Password</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" style="margin-left:45%; padding-left:15px; padding-right:15px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</section>
<!-- Change passowrd Modal -->
<div class="modal fade" id="change_pass_modal" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Change Password</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="change_password_form" id="change_password_form" action="/changePassword" method="POST">
                <div class="modal-body">
                    <!--<input class="form-control" required type="text" name="old_password" id="old_password" placeholder="Old Password"><br>-->
                    <input class="form-control" required type="password" name="new_password" id="new_password" placeholder="New Password"><br>
                    <input class="form-control" required type="password" name="con_new_password" id="con_new_password" placeholder="Confirm New Password">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" onclick="return check('change_password_form','new_password','con_new_password')">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script charset="utf-8" type="text/javascript">
        function check(Form_Name, password,confirm_password)
        {
            var pass1 = document.getElementById(password).value;
            var pass2 = document.getElementById(confirm_password).value;
            <!--alert(pass1);-->
            if(pass2 != pass1){
                <!--M.toast({html: 'Password Doesnt Match.'})-->
                alert("Password Doesnt Match")
                return false;
            }
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $('#profile_pic').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<style>


</style>
{% endblock %}